
@import "../../bootstrap/scss/bootstrap";

.logo{
    width: 72px;
    height: 72px;
}

.img-cov{
    object-fit: cover; 
    height: 350px;
}
 
.img-head{
    object-fit: cover; 
    height: 500px;
    filter: brightness(50%);
}

.img-head1{
    object-fit: cover; 
    height: 250px;
    opacity: 0.4;
}

.popover-header {
    background-color: #280600;
    color: #fff;
}

.social-icons a {
    transition: transform 0.2s ease;
    fill: #fff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.pos-btt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; 
    z-index: 1000; 
}